<div>
  <div>
    <label>Name</label>
    <input type="text" name="ingredients[{{index}}][name]">
  </div>
  <div>
    <label>Qty.</label>
    <input type="number" name="ingredients[{{index}}][quantity]">
  </div>
</div>
